<form [formGroup]="loginForm"  class="col-md-12 login_form" (ngSubmit)="onLogin()">
<h2>Sign In</h2>
<p class="welcome-text"></p>
<p class="text-danger text-left serverError" *ngIf="errorMessage"><span>{{errorMessage}}</span></p>
<div class="form-group">
    <div class="input-group">
    <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
    <input type="text" class="form-control" name="email" value="" placeholder="User name" formControlName="username" (click)="removeMessages($event)">                                        
    </div>
    
</div>
<div class="form-group">
    <div class="input-group">
    <span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></span>
    <input type="password" class="form-control" name="password" value="" placeholder="Password" formControlName="password" (click)="removeMessages($event)">                                        
    </div>
    
</div>
<div class="col-xs-12 no_padding">
    <input type="submit" id="btn-login" class="btn btn-success" value="Log In" [disabled]="IsSaveButtonDisabled"/>
</div>
<div class="col-xs-12">
<a href='javascript:void(0)' class="forgot_link">Reset Password</a>
</div>
</form>