

.labelClass {
    color: rgb(3, 0, 0);
    white-space: nowrap ;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left:26px;
    width:125px;
    display:inline-block
}

.divClass{
    /* display: block;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif; */
    display: block;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.inputClass{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.divpaddClass{
    border-style: Solid;
    margin-right: 50px;
    margin-left: 50px;
}

.SubdivpaddClass{
    border-style: Solid;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    margin-right: 50px;
    margin-left: 50px;
}

.divbuttonClass{
    margin-top: 20px;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 20px;
}

.ptablepad {
    border-style:groove;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 100px;
    padding-left: 100px;
} 

.header {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
} 

.data {
    white-space: nowrap ;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
} 